@use 'variables' as *;

.underground {
  border-top: 1px solid #f7f4f1;
  padding-top: 68px;
  padding-bottom: 84px;
}

.underground-layout {
  display: flex;
  justify-content: space-between;
}

.underground-layout__left {
  flex-shrink: 0;
  width: max-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.underground-layout__middle {
  flex-grow: 1;
  max-width: 40%;

  display: grid;
  grid-template-columns: auto minmax(24px, 1fr) auto;
  grid-template-rows: auto 40px auto;
  grid-template-areas:
    "first . second"
    ". . ."
    "agreement agreement agreement";
}

.underground-layout__right {
  flex-shrink: 0;
  width: max-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.underground-logo {
  display: block;
  background: url('../images/logo.png') no-repeat 50% 50%;
  width: 324px;
  height: 53px;
}

.underground-contacts {}

.underground-contacts>*+* {
  margin-top: 15px;
}

.underground-contacts__address {
  margin-bottom: 40px;
}

.underground-contacts__address-title {
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 8px;
  color: #7f5a44;
  background: linear-gradient(90deg,#b7866d,#7f5a44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underground-contacts__address-content {
  font-size: 18px;
  line-height: 1;
}

.underground-contacts__phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.underground-contacts__phone-icon {
  color: #b3826a;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.underground-contacts__phone-value {
  display: block;
  font-size: 18px;
  font-family: "PT Astra Serif";
  font-weight: bold;
  line-height: 1;
  color: #7f5a44;
  background: linear-gradient(90deg,#b7866d,#7f5a44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underground-contacts__email {
  display: flex;
  align-items: center;
  gap: 8px;
}

.underground-contacts__email-icon {
  color: #b3826a;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.underground-contacts__email-value {
  display: block;
  font-size: 18px;
  font-family: "PT Astra Serif";
  font-weight: bold;
  line-height: 1;
  color: #7f5a44;
  background: linear-gradient(90deg,#b7866d,#7f5a44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underground-menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 18px;
  line-height: 1.15;
  font-family: "PT Astra Sans";

  &_first {
    grid-area: first;
  }

  &_second {
    grid-area: second;
  }
}

.underground-menu a {
  color: rgb(51, 51, 51);
  text-decoration: underline;
}

.underground-menu a:hover {
  color: #b28772;
  text-decoration: underline;
}

.underground-agreement {
  grid-area: agreement;
  font-size: 18px;
  line-height: 1.15;
  font-family: "PT Astra Sans";
  color: rgb(51, 51, 51);
  text-decoration: underline;
}

.underground-agreement:hover {
  color: #b28772;
  text-decoration: underline;
}

.underground-share {}

.underground-share__title {
  margin-bottom: 12px;
  display: block;
  font-size: 18px;
  font-family: "PT Astra Serif";
  font-weight: bold;
  line-height: 1;
  color: #7f5a44;
  background: linear-gradient(90deg,#b7866d,#7f5a44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underground-share__items {}

.underground-vk {}

.underground-vk__title {
  margin-bottom: 12px;
  display: block;
  font-size: 18px;
  font-family: "PT Astra Serif";
  font-weight: bold;
  line-height: 1;
  color: #7f5a44;
  background: linear-gradient(90deg,#b7866d,#7f5a44);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underground-vk__link {
  background: url('../images/vk.png') no-repeat 50% 50%;
  width: 139px;
  height: 139px;
  background-size: cover;
  display: block;
}

.footer {
  background: #ecf2fb;
  padding: 16px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 12px;
  color: rgb(116, 116, 116);
  line-height: 1.2;
}

.footer__middle {
  display: flex;
  align-items: center;
  gap: 36px;
}

.footer__counters {}

.footer__sitemap {
  font-size: 12px;
  color: rgb(116, 116, 116);
  line-height: 24px;
  padding: 0 12px;
  border-radius: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);

  &:hover {
    background: #d1ad8d;
    border-color: #d8d8d8;
    color: #fff;
  }
}

.footer__creator {
  display: flex;
  opacity: 0.8;
  transition: .3s ease;

  &:hover {
    opacity: 1;
  }
}

.scroll-up {}