@use 'variables' as *;

@use 'fonts';
@use 'modal';
@use 'header';
@use 'footer';
@use 'home';
@use 'contacts';
@use 'about';

:root {
  --header-height: 68px;

  @include max-md {
    --header-height: 52px;
  }
}

body {
  font-family: 'PT Astra Sans', sans-serif;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f1fd;
  border-radius: 0;
  border: 0;
}

body {
  .fslightbox-slide-btn {
    background-color: #f5f5f5cc;
    border-radius: 50%;
    padding: 17px;

    @include max-md {
      padding: 8px;
    }
  }

  .fslightbox-svg-path {
    fill: #b2b8c2;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.sprite-icon {
  display: inline-block;
}

.container {
  width: 1648px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;

  @include max-3xl {
    width: 1536px;
  }

  @include max-2xl {
    width: 1280px;
  }

  @include max-xl {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include max-lg {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @include max-md {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.content {
  font-size: 20px;
  color: rgb(64, 64, 64);
  line-height: 1.4;

  p {
    margin: 0;
  }

  * + p {
    margin-top: 24px;
  }

  h2 {
    font-size: 28px;
    color: rgb(98, 111, 124);
    text-transform: uppercase;
    line-height: 1;
  }

  * + h2 {
    margin-top: 64px;
  }

  h3 {
    font-size: 22px;
    font-family: 'PT Astra Serif';
    color: rgb(165, 165, 165);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
  }

  * + h3 {
    margin-top: 48px;
  }

  table {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin: 0;

    tbody tr:nth-child(2n-1) td {
      background: #fbfbfb;
    }

    th {
      font-size: 18px;
      line-height: 1;
      color: #000000;
      font-weight: 400;
      padding: 16px 24px;
      text-align: left;
      border-bottom: 1px solid #eeeeee;
      border-right: 1px solid #eee;
      background-image: linear-gradient(45deg, #edf1fd, #f9edfb);
    }

    td {
      padding: 16px 24px;
      border-bottom: 1px solid #eeeeee;
      border-right: 1px solid #eee;
    }
  }

  * + table {
    margin-top: 24px;
  }

  a {
    text-decoration: underline;
  }

  ul {
    margin: 0;
    padding: 0 0 0 1.25em;
    list-style: disc;
  }

  ul li + li {
    margin-top: 12px;
  }

  * + ul {
    margin-top: 24px;
  }

  .wp-block-image {
    display: flex;
  }

  .wp-block-image.size-full {
    overflow: hidden;
    border-radius: 12px;
    margin: 64px 0;
  }

  @include max-md {
    font-size: 16px;
    h2 {
      font-size: 20px;
    }
    * + h2 {
      margin-top: 36px;
    }
    h3 {
      font-size: 18px;
    }
    * + h3 {
      margin-top: 24px;
    }
    .wp-block-image.size-full {
      margin: 36px 0;
    }
    * + p {
      margin-top: 20px;
    }
    * + ul {
      margin-top: 20px;
    }
    * + table {
      margin-top: 20px;
    }
  }
}

.page-section {
  padding-top: 32px;
  padding-bottom: 64px;

  @include max-md {
    padding-top: 24px;
    padding-bottom: 48px;
  }
}

.page-section__container {
}

.page-section__breadcrumbs {
  margin-bottom: 64px;

  @include max-lg {
    margin-bottom: 48px;
  }
  @include max-md {
    margin-bottom: 32px;
  }
}

.page-section__title {
  font-size: 44px;
  line-height: 48px;
  text-transform: uppercase;
  color: #1e2839;
  font-family: 'PT Astra Serif';
  text-align: center;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 90px;

  @include max-lg {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 64px;
    padding-bottom: 40px;
  }
  @include max-md {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
    padding-bottom: 24px;
  }
}

.page-section__title::after {
  content: '';
  display: block;
  background: url('../images/divider.png') no-repeat 50% 50%;
  background-size: cover;
  width: 266px;
  height: 31px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  @include max-lg {
    width: calc(266px * 0.8);
    height: calc(31px * 0.8);
  }
  @include max-md {
    width: calc(266px * 0.6);
    height: calc(31px * 0.6);
  }
}

.page-section__content {
  &:empty {
    display: none;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 20px;
  line-height: 1;
  color: #404040;

  @include max-lg {
    font-size: 18px;
  }
  @include max-lg {
    font-size: 16px;
  }
}

.breadcrumbs__link {
  text-decoration: none;
  color: #404040;
  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbs__separator {
  background: url('../images/arrow.png') no-repeat 50% 50%;
  background-size: cover;
  width: 18px;
  height: 5px;
}

.breadcrumbs__current {
  color: #b38d76;
}

.ui-more {
  background: linear-gradient(90deg, rgb(201, 168, 133) 0%, rgb(156, 124, 97) 100%);
  font-size: 18px;
  line-height: 52px;
  border-radius: 26px;
  font-family: 'PT Astra Serif';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  min-width: 236px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease;

  @include max-2xl {
    font-size: calc(18px * 0.8);
    line-height: calc(52px * 0.8);
    border-radius: calc(26px * 0.8);
    gap: calc(5px * 0.8);
    min-width: calc(236px * 0.8);
  }
  @include max-xl {
    font-size: calc(18px * 0.7);
    line-height: calc(52px * 0.7);
    border-radius: calc(26px * 0.7);
    gap: calc(5px * 0.7);
    min-width: calc(236px * 0.7);
  }
}

.ui-more:hover {
  background: linear-gradient(90deg, rgb(192, 141, 116) 0%, rgb(127, 90, 68) 100%);
}

.ui-more:hover .ui-more__arrow::before {
  width: 25px;

  @include max-2xl {
    width: calc(25px * 0.8);
  }
  @include max-xl {
    width: calc(25px * 0.7);
  }
}

.ui-more:hover .ui-more__arrow::after {
  right: -9px;

  @include max-2xl {
    width: calc(-9px * 0.8);
  }
  @include max-xl {
    width: calc(-9px * 0.7);
  }
}

.ui-more__arrow {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-flex;

  @include max-2xl {
    width: calc(16px * 0.8);
    height: calc(16px * 0.8);
  }
  @include max-xl {
    width: calc(16px * 0.7);
    height: calc(16px * 0.7);
  }
}

.ui-more__arrow::before {
  content: '';
  height: 1px;
  width: 16px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;

  @include max-2xl {
    width: calc(16px * 0.8);
  }
  @include max-xl {
    width: calc(16px * 0.7);
  }
}

.ui-more__arrow::after {
  content: '';
  height: 8px;
  width: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.3s ease;

  @include max-2xl {
    width: calc(8px * 0.8);
    height: calc(8px * 0.8);
  }
  @include max-xl {
    width: calc(8px * 0.7);
    height: calc(8px * 0.7);
  }
}

.carousel__nav-prev,
.carousel__nav-next {
  top: 50%;
  margin-top: -28px;
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #fff;
  background: rgba(221, 203, 187, 0.51);

  &:hover {
    background: linear-gradient(90deg, rgb(201, 168, 133) 0%, rgb(156, 124, 97) 100%);
  }

  &[disabled] {
    display: none;
  }

  @include max-md {
    margin-top: -22px;
    width: 44px;
    height: 44px;
  }
}

.carousel__nav-prev::after,
.carousel__nav-next::after {
  content: '';
  width: 28px;
  height: 2px;
  margin-left: -14px;
  margin-top: -1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: currentColor;
}

.carousel__nav-prev {
  left: -60px;

  @include max-md {
    left: -46px;
  }
}

.carousel__nav-prev::before {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 9px);
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
}

.carousel__nav-next {
  right: -60px;

  @include max-md {
    right: -46px;
  }
}

.carousel__nav-next::before {
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  position: absolute;
  left: calc(50% + 9px);
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
